/* fonts */
.space-grotesk-default {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* define color palette */
:root {
  --heading-color: #fa573e;
  --background-color: #fffcf5;
  --table-stripe: #eae7e0;
  --accent-color: #293039;
}

/* normalize margins */
body {
  margin: 0;
  padding: 0;
  border: 0px;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: black;
  text-wrap: wrap;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 5rem;
  color: var(--heading-color);
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--background-color);
  color: var(--accent-color);
  font-size: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 2px dotted black;
}

header h1 {
  font: inherit;
  color: #fa573e;
  font-weight: bold;
  /* width: 50%; */
}

#navbar {
  display: flex;
  justify-content: right;
  margin-left: auto;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
}

header a {
  padding: 0.75rem;
}

#name-section {
  min-height: calc(95vh);
  padding-left: 2rem;
  padding-right: 2rem;
}

#name-section,
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  /* padding: 2rem; */
}

#name-section h1 {
  font-size: 8rem;
  padding: 1.5rem;
  color: var(--heading-color);
}

#name-section h2 {
  font-size: 3rem;
  color: black;
}

#welcome-section {
  border-top: 2px dotted black;
  padding: 4rem;
}

#welcome-section p {
  font-size: 2rem;
  padding: 1.5rem;
  /* max-width: 90%; */
}

#welcome-section table {
  font-size: 1.5rem;
  margin: 1.5rem;
  border-collapse: collapse;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

th,
td {
  padding: 0.5rem;
}

thead th {
  border-bottom: 1px solid var(--accent-color);
}

tbody tr td:nth-child(1),
thead tr th:nth-child(1) {
  text-align: left;
}

tbody tr td:nth-child(2),
thead tr th:nth-child(2) {
  text-align: right;
}

/* zebra striping */
tbody tr:nth-child(odd) {
  background-color: var(--table-stripe);
}

#projects {
  border-top: 2px dotted black;
  padding: 3rem 0 3rem 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

#projects p {
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
}

.project-tile {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 3rem;
  padding: 0;
  width: 310px;
}

.project-tile * {
  margin: 0;
}

.project-tile a {
  margin: 0;
  color: var(--background-color);
  background-color: var(--accent-color);
  font-weight: bold;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.demo-link {
  margin-left: auto;
}

.project-tile a::before {
  content: "<\00a0";
  color: var(--accent-color);
  transition: color 0.1s ease;
}

.project-tile a:hover::before {
  content: "<\00a0";
  color: var(--background-color);
}

.project-tile a::after {
  content: "\00a0/>";
  color: var(--accent-color);
  transition: color 0.1s ease;
}

.project-tile a:hover::after {
  content: "\00a0/>";
  color: var(--background-color);
}

.project-title {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-size: 2rem;
  text-align: center;
  margin: -3px 0 0 0;
  border: 0;
  padding: 1em 0.75em 2em 0.75em;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-title h3 {
  font-size: 2.2rem;
}

#contact,
footer {
  color: var(--accent-color);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

#contact h1 {
  padding: 4rem 2rem 2rem 2rem;
}

#contact a {
  font-size: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.icon {
  height: 1em;
  width: 1em;
  vertical-align: -0.15em;
}

footer {
  display: flex;
  justify-content: right;
  font-size: 2rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-top: 2px dotted black;
}

.copyright {
  flex: 1 auto;
  text-align: right;
}

/* go to two rows for header at 650px */

@media only screen and (max-width: 650px) {
  header {
    font-size: 2.5rem;
    padding: 0.75rem;
    flex-direction: column;
    align-items: center;
  }

  #navbar {
    justify-content: center;
    margin-left: 0;
  }
}

/* when the grid is 1 column wide, the titles do not need to have matching height */

@media only screen and (max-width: 620px) {
  .project-title {
    height: auto;
  }
}
